@using Ecommerce.Repository.Models
@using static Ecommerce.Repository.Helpers.Enums
@model Ecommerce.Repository.ViewModels.EditProductViewModel
@{
    Layout = "~/Views/Shared/_dashboardSeller.cshtml";
}


<div class="d-flex justify-content-between w-100 p-3">
    <h3>
        Edit product
    </h3>
    <a class="btn btn-primary" id="AddProduct-btn" asp-action="MyProducts" asp-controller="Product">
        <i class="bi bi-chevron-left"></i> Back to products
    </a>
</div>


<div class="w-100 gap-4 d-flex justify-content-center align-items-start flex-lg-row flex-column p-3">
    <div class=" mb-3">
        <div class="bg-white border rounded p-3">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <h4 class="font-monospace text-secondary">Guidelines</h4>
                <img src="~/images/airplane_10521415.png" alt="" height="20px" width="20px">
            </div>
            <hr />
            <ul class="ps-3">
                <li>Ensure the product <strong>name</strong> is unique and descriptive.</li>
                <li>Provide a detailed <strong>description</strong> to help customers understand the product.</li>
                <li>Select the appropriate <strong>category</strong> for better organization.</li>
                <li>Set a competitive <strong>price</strong> based on market research.</li>
                <li>Specify the available <strong>stock quantity</strong> accurately.</li>
                <li>Choose a suitable <strong>discount type</strong> (e.g., percentage or fixed amount).</li>
                <li>Set a <strong>discount value</strong> to attract customers while maintaining profitability.</li>
            </ul>
            <p>optionally</p>
            <ul class="ps-3">
                <li>Add relevant <strong>features</strong> to highlight the product's benefits.</li>
                <li>Upload <strong>high-quality images</strong> to showcase the product.</li>
                <li class="text-danger">Review all details before submitting the form.</li>
            </ul>
        </div>
    </div>
    <div class="bg-white border rounded-3 widthOfForms w-100">
        <div class="p-3">
            <form method="POST" id="EditProductForm" asp-controller="Product" asp-action="EditProduct"
                enctype="multipart/form-data">
                <div class="form-floating has-validation my-2 mb-3 w-100">
                    <input type="text" class="form-control" id="ProductName" placeholder="Product Name"
                        asp-for="ProductName">
                    <span asp-validation-for="ProductName" class="text-danger float-start"></span>
                    <label for="ProductName">product name</label>
                </div>

                <div class="form-floating mb-3 w-100">
                    <textarea class="form-control" asp-for="Description" placeholder="Leave a comment here"
                        id="Description" style="height: 100px"></textarea>
                    <label for="Description">Description</label>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>



                <div class="features-container">
                    @if (Model.Features != null && Model.Features.Any())
                    {
                        <p class="text-secondary">optional</p>
                        <button type="button" class="btn btn-primary mb-3" id="AddFeatureButton"><i
                                class="bi bi-plus-lg"></i> Add new features</button>
                        @foreach (Feature feature in Model.Features)
                        {
                            <div class="feature-item gap-3 mb-3 d-flex justify-content-between">
                                <div class="form-floating w-100">
                                    <input type="text" class="form-control feature-name" id="FeatureName"
                                        placeholder="Feature Name" value="@feature.FeatureName">
                                    <label for="FeatureName">Feature Name</label>
                                </div>
                                <div class="form-floating w-100">
                                    <input type="text" class="form-control feature-description" id="FeatureDescription"
                                        placeholder="Feature Description" value="@feature.Description">
                                    <label for="FeatureDescription">Feature Name</label>
                                </div>
                                <button type="button" class="btn btn-danger remove-feature-button"><i
                                        class="bi bi-x-lg"></i></button>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-secondary">optional</p>
                        <button type="button" class="btn btn-primary mb-3" id="AddFeatureButton"><i
                                class="bi bi-plus-lg"></i> Add new features</button>
                    }

                </div>

                <div class="form-floating mb-3 w-100">
                    <select class="form-select" asp-for="CategoryId" id="CategorySelect" aria-label="Role"
                        asp-items="Html.GetEnumSelectList<CategoriesEnum>()">
                        <option value="@Model.CategoryId" id="selectedCategory" selected>
                            @(((CategoriesEnum)Model.CategoryId).ToString())</option>
                    </select>
                    <label for="CategorySelect">Category</label>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-floating has-validation my-2 mb-3 w-100">
                    <input type="text" class="form-control" id="Price" placeholder="Price" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger float-start"></span>
                    <label for="Price">Price</label>
                </div>

                <div class="d-flex flex-row gap-3">
                    <div class="form-floating mb-3 w-100">
                        <select class="form-select" asp-for="DiscountType" id="floatingSelect" aria-label="Role"
                            asp-items="Html.GetEnumSelectList<DiscountEnum>()"></select>
                        <label for="floatingSelect">Discount Type</label>
                        <span asp-validation-for="DiscountType" class="text-danger"></span>
                    </div>

                    <div class="form-floating has-validation mb-3 w-100">
                        <input type="text" class="form-control" id="Discount" placeholder="Discount" asp-for="Discount">
                        <span asp-validation-for="Discount" class="text-danger float-start"></span>
                        <label for="Discount">Discount</label>
                    </div>
                </div>

                <div class="form-floating has-validation my-2 mb-3 w-100">
                    <input type="text" class="form-control" id="Stocks" placeholder="Stocks" asp-for="Stocks">
                    <span asp-validation-for="Stocks" class="text-danger float-start"></span>
                    <label for="Stocks">Stocks</label>
                </div>

                <div class="my-2 mb-3 w-100">
                    <input type="file" class="form-control" id="ProductImages" asp-for="imageFile" multiple>
                    <span asp-validation-for="imageFile" class="text-danger float-start"></span>
                </div>

                @if (Model.Images != null && Model.Images.Any())
                {
                    @foreach (Image image in Model.Images)
                    {
                        <div class="img-wrapper d-inline-block position-relative m-2">

                            <img src="@Url.Content(image.ImageUrl)" alt="Product Image" height="70" width="70"
                                class="ImageInput img-thumbnail" />

                            <button class="btn removeImageBtn btn-danger btn-sm position-absolute top-0 end-0"
                                data-image-id="@image.ImageId">
                                X
                            </button>
                        </div>

                    }
                }

                <div class="image-preview-container mt-3"></div>

                <div class="d-flex justify-content-end">
                    <input type="hidden" id="FeaturesInput" asp-for="FeaturesInput">
                    <input type="hidden" asp-for="ProductId" value="@Model.ProductId">
                    <input type="hidden" id="ImageDeleteInput" asp-for="ImageDeleteInput">

                    <button type="submit" class="btn btn-success ">Edit product</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';
        $(document).ready(function () {

            let ImageIdToDelete = [];

            $(document).on('click', '#CategorySelect', function () {
                $('#selectedCategory').remove();
            });

            // jq for adding inputs to add new features
            $('#AddFeatureButton').on('click', function () {
                const featureItem = `
                                    <div class="feature-item my-3 gap-3 d-flex justify-content-between">
                                        <div class="form-floating w-100">
                                            <input type="text" class="form-control feature-name" id="FeatureName" placeholder="Feature Name">
                                            <label for="FeatureName">Feature Name</label>
                                        </div>
                                        <div class="form-floating w-100">
                                            <input type="text" class="form-control feature-description" id="FeatureDescription" placeholder="Feature Description">
                                            <label for="FeatureDescription">Feature Description</label>
                                        </div>
                                        <button type="button" class="btn btn-danger remove-feature-button"><i class="bi bi-x-lg"></i></button>
                                    </div>`;
                $('.features-container').append(featureItem);
            });

            // jq which handle removing feature input
            $(document).on('click', '.remove-feature-button', function () {
                $(this).closest('.feature-item').remove();
            });

            // jq for adding details of features before submitting edit form
            $('#EditProductForm').on('submit', function () {
                const features = [];
                $('.feature-item').each(function () {
                    const featureName = $(this).find('.feature-name').val();
                    const featureDescription = $(this).find('.feature-description').val();
                    if (featureName && featureDescription) {
                        features.push({ FeatureName: featureName, Description: featureDescription });
                    }
                });
                $('#FeaturesInput').val(JSON.stringify(features));
                $("#ImageDeleteInput").val(JSON.stringify(ImageIdToDelete));
                console.log(features);
                console.log(ImageIdToDelete);
            });


            // jq for handling image

            $(document).on('click', '.removeImageBtn', function () {
                console.log($(this).data("image-id"));
                ImageIdToDelete.push($(this).data("image-id"));
                console.log('Array is : ', ImageIdToDelete);
                $(this).closest('.img-wrapper').remove();
            });


            // mthod for image showcasing
            $("#ProductImages").on("change", function (event) {
                const files = event.target.files;
                const previewContainer = $(".image-preview-container");

                $("#ProductImages").after(previewContainer);

                const existingImages = new Set();

                Array.from(files).forEach((file) => {
                    if (existingImages.has(file.name)) {
                        toastr.error(`Image "${file.name}" is already added.`);
                        return;
                    }
                    existingImages.add(file.name);
                });

                Array.from(files).forEach((file, index) => {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const imgWrapper = $(
                            '<div class="img-wrapper d-inline-block position-relative m-2"></div>'
                        );
                        const img = $(
                            '<img class="img-thumbnail" style="width: 70px; height: 70px;">'
                        );
                        img.attr("src", e.target.result);

                        const removeBtn = $(
                            '<button class="btn btn-danger btn-sm position-absolute top-0 end-0">X</button>'
                        );
                        removeBtn.on("click", function () {
                            imgWrapper.remove();
                        });

                        imgWrapper.append(img).append(removeBtn);
                        previewContainer.append(imgWrapper);
                    };
                    reader.readAsDataURL(file);
                });
            });
        });


    </script>
    <script src="~/js/toastr_script.js"></script>
}