@model Ecommerce.Repository.ViewModels.PaymentViewModel
@{
    Layout = null;
}

<button id="rzp-button1" hidden>Pay</button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $(document).ready(function () {
        var options = {
            "key": "@Model.RazorpayKey",
            "amount": "@Model.Amount",
            "currency": "@Model.Currency",
            "name": "@Model.Name",
            "description": "@Model.Description",
            "image": "https://i.ibb.co/DHMyqyQh/pizzashop-logo.png",
            "order_id": "@Model.orderId",
            "handler": function (response) {
                $.ajax({
                    url: '/Order/PlaceOrder',
                    type: 'POST',
                    data: {
                        rzp_paymentid: response.razorpay_payment_id,
                        rzp_orderid: response.razorpay_order_id,
                        userId: "@Model.UserId",
                        sessionId: "@Model.sessionId",
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response.success) {
                            console.log(response.message, "...successs");
                            window.location.href = '/Dashboard/MyOrders';
                        } else {
                            console.log(response.message, "...error");
                            window.location.href = '/Dashboard/MyOrders';
                        }
                    },
                    error: function (xhr, status, error) {
                        window.location.href = '/Dashboard/MyOrders';
                    }
                });
            },
            "prefill": {
                "name": "@Model.Name",
                "email": "@Model.Email",
                "contact": "@Model.PhoneNumber"
            },
            "theme": {
                "color": "#F37254"
            },
            "modal": {
                "ondismiss": function () {
                    window.location.href ="/Order/Index?sessionId="+ "@Model.sessionId";    
                }
            }
        };
        var rzp1 = new Razorpay(options);

        window.onload = function () {
            document.getElementById('rzp-button1').click();
        };

        document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        };
    });
</script>